@font-face {
    font-family: "SF Pro";
    src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
  }
  
  body {
    font-family: "SF Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.navigation-bar {
    /* navigation bar  */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Add a border for better separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a small shadow at the bottom edge */
  }
  
  .nb-background-color {
    /* navbar background color */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Add a border for better separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a small shadow at the bottom edge */
  }

.nbMenuItem {               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

#logo-img {
    width: 100px !important;
}


/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    color: black;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.timeline {
    background-image: url('index-imgs/timeline-bg.png');
    background-size: cover;
    color: white;
}

.line {
    width: 1px;
    height: 1000px;
    background-color: white;
}

.card {
    width: 100%;
    color: black;
    position: relative;
        top: 100px;
}

.inter {
    height: 200px;
}

.line-cont {
    width: 2%;
}

.line {
    width: 10px;
    background-color: white;
}

.card-cont {
    padding: 0% 2%;
    width: 48.5%;
}

.footer {
    background-color: #143c46;
    color: white;
    text-align: center;
    height: 150px;
    align-items: center;
}

.foot-text {
    padding-top: 15px;
}

.foot-icon {
    position: absolute;
        right: 15px;
    margin-top: 50px;
    color: white;
}